.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgba(251, 251, 255, 1);
  position: sticky;
  top: 50px;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
  font-size: large;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 25px;
  text-align: center;
  color: rgba(187, 186, 186, 1);
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-top: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgba(228, 228, 250, 1);
  text-decoration: none;
}

Link {
  text-decoration: none;
}

.sidebarIcon {
  margin-right: 10px;
  font-size: 30px;
}
