* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
}

.container {
  display: flex;
  margin-top: 10px;
}

.others {
  flex: 6;
}

body {
  overflow-x: hidden;
}
